*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    background-color:#F4F4F4;
    font-family: 'Roboto', sans-serif;
    color:#5C5F69;
    text-align:center;
    font-size:1.2rem;
}

h1{
    text-transform:uppercase;
    font-size:1.5rem;
    margin-bottom:3rem;
}
.card{
    background-color:#FFFFFF;
    width:400px;
    margin: 15px auto;
    padding:3rem;
    box-shadow: 1px 1px 50px silver;
}

.top{
    display:flex;
    justify-content:space-between;
    font-size:2rem;
}

.top i{
    cursor:pointer;
}


.middle img{
    width:130px;
    height:130px;
    border-radius:100%;
    border:7px solid #60626C;
    box-shadow: 1px 13px 25px silver;
}

.script{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 2rem;
}
.script span:nth-child(2){
    font-size:5rem;
    font-weight:bolder;
    color:#60626C;
}

.script span:nth-child(1),.script span:nth-child(3){
    font-size:2rem;
    margin:1rem;
    cursor:pointer;
}

button{
    margin-top:2rem;
    background-color:#474850;
    color:#FFFFFF;
    border:none;
    padding:20px;
    font-size:1rem;
    text-transform:lowercase;
    width:90%;
    box-shadow: 1px 13px 25px silver;
    transition:.3s
}

button:hover{
    background:#2f3035;
    cursor:pointer;
}

form input{
    border:none;
    color:#5C5F69;
}
